body * {
  border: none;
}

body {
  display: grid;
  grid-template-rows: 2fr 9fr 1fr;
  margin: 20px calc(10%);
}

.hide {
  display: none;
}

.show {
  display: grid;
}

header {
  border: none;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

#title {
  border: none;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  font-size: 70px;
  gap: calc(10px + 10%);
}

.title-word-1 {
  display: flex;
  justify-content: end;
  align-items: center;
  color: red;
  font-style: italic;
  text-shadow: -0.5px 0.5px 1.1px black;
}

.title-word-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 15px;
  text-shadow: -0.5px 0.5px 1px silver;
}

.title-word-3 {
  align-items: center;
  display: flex;
  text-shadow: -0.5px 0.5px 1.1px black;
}

#name-1 {
  color: blue;
  font-size: 45px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

#name-2 {
  color: pink;
}

#name-3 {
  color: yellow;
  font-size: 45px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

#name-4 {
  color: green;
}

#name-5 {
  color: gray;
  font-size: 45px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  border-top: 1px solid black;
  color: black;
  justify-items: center;
  margin-top: -10px;
}

main {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  margin: 100px calc(10%) 0px calc(10%);
  gap: 50px;
  font-size: 40px;
}

main * {
  height: 50px;
}

button {
  background-color: inherit;
  text-shadow: -0.5px 0.5px 1px silver;
}

button:hover {
  cursor: pointer;
  text-shadow: -0.5px 0.5px 1.6px gray;
}

button:active {
  text-shadow: none;
  text-shadow: -0.5px 0.5px 1px silver;
}

#post-1 {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr 3fr;
  border: 2px solid hsl(0, 0%, 0%);
  border-top: 2px solid hsl(0, 0%, 96%);
}

#post-1:hover {
  box-shadow: 0px 1px 1px 1px silver;
}
#post-1:active {
  box-shadow: none;
}

#post-button-1 {
  grid-row: 1 / 2;
  font-size: 40px;
  transition: font-size 200ms, opacity 200ms;
}

#post-title-1 {
  text-align: center;
  font-size: 40px;
}

#post-content-1 {
  height: 100px;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
