<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cult of Elise</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <div id="title">
        <div class="title-word-1">Cult</div>
        <div class="title-word-2">of</div>
        <div class="title-word-3">
          <div class="name" id="name-1">e</div>
          <div class="name" id="name-2">L</div>
          <div class="name" id="name-3">i</div>
          <div class="name" id="name-4">S</div>
          <div class="name" id="name-5">e</div>
        </div>
      </div>

      <nav>
        <li id="about"><a href="">about</a></li>
        <li id="altar"><a href="">altar</a></li>
        <li id="cast"><a href="">cast</a></li>

        <li></li>
      </nav>
    </header>
    <main>
      <div id="post-1">
        <button id="post-button-1">☽</button>

        <div id="post-title-1"><a href="">Blog Post Title</a></div>

        <div id="post-content-1" class="hide">{{ preview }}</div>
      </div>
    </main>
    <footer></footer>

    <script src="../static/index.js"></script>
  </body>
</html>
